@import "@/styles/variables.scss";

.appContainer {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $background;
}

.mainContent {
  flex: 1;
  padding: $spacing-8;
  overflow-y: auto;
  
  // Transitioning between sections using background shifts
  background-color: $surface;
}
